.body-left {
  border-radius: 20px;
  background-color: var(--beige);
  margin-right: 50px;
  padding: 20px;
  opacity: 0.7;
}

#todo-form input {
  width: 180px;
}

#todo-list li {
  padding-top: 5px;
}

#todo-list li span {
  padding-right: 10px;
}

#todo-list li button {
  border-radius: 10px;
}
